.price-tag{
    margin-top: 5%;
    font-size: 2rem;
}

.detail-img{
    place-self: center;
    width: 100% !important; 
}

.item-count{
    margin: auto;
}

.description-text{
    font-size: 1rem;
}

.item-body{
    margin-top: 5%;
}