.brand-logo{
    height: 60px;
}

.navbar-brand{
    padding-left: 10%;
}

.active{
font-size: 1.2rem;
background-color: #ca2026bd !important;

}

#cart-dropdown.dropdown-toggle::after{
display: none;
}