.brand-logo{
    height: 60px;
}

.navbar-brand{
    padding-left: 10%;
}

.active{
font-size: 1.2rem;
background-color: #ca2026bd !important;

}

.badge{
    background-color: #ca2026bd;
    transform: translateY(-11px) translateX(-1px);

}