
.fade-in {
    animation: fadeIn 0.7s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.fade-out {
  animation: fadeOut 0.7s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  
  .row{
    margin-right: 0 !important;

  }

  .home-view, .category-items-view, .not-found{
    padding-top: 1%;
    min-height: 82vh;
  }

  body {
    background: linear-gradient(#ffffff, #acacac);
  }

  .container {
    position: relative;
  }